{{#each info}}
<div class="container">
    <div>
        <br>
        <br>
        <span class="attribute">
            <strong>Id:</strong>{{this._id}}
        </span>
        <br>
        <span class="attribute">
            <strong>Name:</strong> {{this.name}}
        </span>
        <br>
    </div>
</div>
<br>
<br>
{{/each}}